body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell {
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
}

.header {
  background-color: lightgrey;
  font-size: larger;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
}

input[type="number"] {
  width: 120px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
