/* Example global style sheet that works with default theme */

.VirtualSpreadsheet_ColumnHeader {
  box-sizing: border-box;
  border: 1px solid grey;
}

.VirtualSpreadsheet_Column {
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
}

.VirtualSpreadsheet_Column__Selected {
  color: white;
  background-color: darkblue;
}

.VirtualSpreadsheet_Column__CellSelected {
  background-color: lightblue;
}

.VirtualSpreadsheet_RowHeader {
  box-sizing: border-box;
  border: 1px solid grey;
}

.VirtualSpreadsheet_Row {
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;
}

.VirtualSpreadsheet_Row__Selected {
  color: white;
  background-color: darkblue;
}

.VirtualSpreadsheet_Row__CellSelected {
  background-color: lightblue;
}

.VirtualSpreadsheet_Grid {
  box-sizing: border-box;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.VirtualSpreadsheet_Cell {
  box-sizing: border-box;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  resize: none;
}

.VirtualSpreadsheet_Cell__Focus {
  border: 2px solid darkblue;
}

.VirtualSpreadsheet_Cell__Focus:focus {
  outline: none;
}

.VirtualSpreadsheet_Cell__RowSelected {
  background-color: lightblue;
}

.VirtualSpreadsheet_Cell__ColumnSelected {
  background-color: lightblue;
}