/* Example global style sheet that works with default theme */

.VirtualSpreadsheet_ColumnHeader {
  border: 1px solid lightgrey;
}

.VirtualSpreadsheet_RowHeader {
  border: 1px solid lightgrey;
}

.VirtualSpreadsheet_Grid {
  border: 1px solid lightgrey;
}