# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x]
        react-version: [18]
    name: Node ${{ matrix.node-version }} - React ${{ matrix.react-version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - name: Use React ${{ matrix.react-version }}
      if: ${{ matrix.react-version == 19 }}
      run: pnpm -r update react@19 react-dom@19 @types/react@19 @types/react-dom@19
    - run: pnpm exec playwright install --with-deps
    - run: pnpm run lerna-typecheck
    - run: pnpm run lerna-build
    - run: pnpm run lerna-lint
    - run: pnpm run lerna-prodapi
    - run: pnpm run lerna-test
    - run: pnpm run lerna-playwright
