# Workflow to build and publish package to NPM. Triggered manually or on completion of Build CI workflow on release commit
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
# To use npm direct replace lerna publish with "npm publish --workspaces --provenance --access public"

name: NPM Publish

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Build CI]
    types: [completed]

jobs:
  build:
    if: |
        github.event_name == 'workflow_dispatch' ||
        ( github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.event == 'push' &&
          github.event.workflow_run.head_branch == 'main' &&
          contains(github.event.workflow_run.head_commit.message, 'chore(release)'))
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24.X
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run lerna-build
      - run: npm run lerna-lint
      - run: npm run lerna-test
      - run: npx lerna publish from-package --yes
        env:
          NPM_CONFIG_PROVENANCE: true
